<div id="calendar"></div>
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/lumen/bootstrap.min.css" rel="stylesheet">
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.18/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
                initialView: 'dayGridMonth',
                locale: 'tr',
                themeSystem: 'bootstrap5',
                buttonText: {
                    today: 'Bugün',
                },
                height: 'auto',
                width: 'auto',
                events: 'GetEventsForCalendar',
                displayEventTime: false,
                eventBorderColor: 'grey',
                eventBackgroundColor: 'lightblue',
                eventTextColor: 'black',
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                dayHeaderFormat: { weekday: 'long' },
                dayMaxEventRows: 4,
            });
            calendar.render();
        });
    </script>
}

