<div id="calendar"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
                initialView: 'dayGridMonth',
                locale: 'tr',
                buttonText: {
                    today: 'Bugün',
                },
                height: 'auto',
                width: 'auto',
                events: 'GetEventsForCalendar',
                displayEventTime: false,
                eventBorderColor: 'grey',
                eventBackgroundColor: 'lightblue',
                eventTextColor: 'black'
            });
            calendar.render();
        });
    </script>
}

