@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Etkinlik Adı</th>
            <th>Etkinlik Tarihi</th>
            <th>Açıklama</th>
            <th>Katılımcı Sayısı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>StartDate.ToString("dd/MM/yyyy")</td>
            <td>Description</td>
        </tr>
</table>
