@model IEnumerable<User>

<table class="table table-striped">
    <thead>
        <tr><th class="text-center" colspan="3">Kullanıcılar</th></tr>
        <tr>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Doğum Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>

</table>