@model UserProfileDto
@{
    var title = Model.IsEditMode ? "Profil" : "Kayıt Ol";
    var buttonText = Model.IsEditMode ? "Güncelle" : "Kayıt Ol";
    var action = Model.IsEditMode ? "Update" : "Register";
}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">@title</h2>
            <form method="post" asp-action="@action">
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ErrorCount > 0)
                {
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                }

                <div class="form-group my-3">
                    <label asp-for="FullName">Ad Soyad</label>
                    <input type="text" class="form-control" asp-for="FullName" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="Password">Şifre</label>
                    <input type="password" class="form-control" asp-for="Password" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="ConfirmPassword">Şifre Tekrar</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="BirthDate">Doğum Tarihi</label>
                    <input type="date" class="form-control" asp-for="BirthDate" min="1950-01-01" max="2007-12-31" />
                </div>
                <div class="btn-group mb-3 mt-5 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50">@buttonText</button>
                    @if (Model.IsEditMode)
                    {
                        <button class="btn btn-danger w-50" method="post" asp-action="Delete">Kullanıcıyı Sil</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>