<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagerApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagerApp.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #dce5ee; margin: 0; padding: 0; min-height: 100vh; display: flex; flex-direction: column;">
    <header>
        <nav class="navbar navbar-expand-lg bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EventManagerApp </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" asp-area="Management" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    <a class="nav-link" aria-current="page" asp-area="Management" asp-controller="Event" asp-action="Index">Etkinlikler</a>
                    <a class="nav-link" asp-area="Management" asp-controller="User" asp-action="Index">Kullanıcılar</a>
                </div>
                </div>
                <div class="nav-item">
                    <a class="navbar-brand" asp-area="Management" asp-controller="Home" asp-action="Index" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @(
                            string.IsNullOrWhiteSpace(ViewData["User"] as string)
                            ? "Management"
                            : ViewData["User"]
                        )
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1 d-flex flex-column">
        <main role="main" class="pb-3 flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container text-center">
            &copy; 2025 - EventManagerApp
        </div>
    </footer>
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
            var msg = @Html.Raw(Json.Serialize(TempData["SuccessMessage"]));
            <text>
                alert('@msg');
            </text>
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
